<script>
function error() {}
const R3ErrorElement = class extends HTMLSpanElement {
  constructor () {
    super();
    window.error = (({error:old}) => (...args) => {
      if(args.length === 0) {
        this.innerText = "OK";
        return;
      }
      const [str, now] = args;
      nowerror=now;
      const n2=now;
      let n1=now-2;
      while (str.charCodeAt(n1)>32) {n1--;}
      this.innerText = "Not Word :"+str.slice(n1,n2);
    })(window);
  }
};

customElements.define('r3-error', R3ErrorElement, {extends: "span"});
</script>

